@{
    ViewData["Title"] = "Stone Book";
    Layout = "~/Views/Shared/_LayoutLander.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Never lose a <span class="texthighlight">contact</span> again
            </h1>
            <div class="subtitle">
                Write it in stone. <br />Experience the power of Stone Book today!<br><br><strong>Built with pride using cutting edge tech:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/stoneBookLanding.png" class="img-fluid" width="800">
    </div>
</div>